*{
    font-family: 'Roboto', sans-serif;
}

body{
margin: 0;
padding: 0;
background:#e1e8e3 ;


}

nav{
    width: 100%;
    overflow: auto;
    
    display: block;
    height: 80px;

    background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

ul{
   padding: 0;
    margin: 0 0 0 250px;
    list-style: none;

}



li{
float: right;
padding-left: 10px;




}


li a {


    width: 100%;
    display: block;
    float: right;
    padding: 30px 15px;
    text-decoration: none;
    color: white;
    text-align:center;

}


li a:hover{

   
    text-transform: uppercase;
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.logo{
    display: flex;
    display: row;

    
}
.logo img{
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
    height: 70px;
    border-radius: 10%;
   
}